

<h1>Select a category</h1>



<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="hats">hats</a> </h4>

<img src="~/images/hats.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="space" >space</a> </h4>

@*<h4> @Html.ActionLink("space", "Category", new { category = "space" }) </h4>*@

<img src="images/space.jpeg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="funny">funny</a> </h4>

@*<h4> @Html.ActionLink("funny", "Category", new { category = "funny" }) </h4>*@

<img src="images/funny.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="sunglasses">sunglasses</a> </h4>

@*<h4>@Html.ActionLink("sunglasses", "Category", new { category = "sunglasses" })</h4>*@

<img src="images/sunglasses.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="boxes">boxes</a> </h4>

@*<h4> @Html.ActionLink("boxes", "Category", new { category = "boxes" }) </h4>*@

<img src="images/boxes.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="caturday">caturday</a> </h4>

@*<h4> @Html.ActionLink("caturday", "Category", new { category = "caturday" }) </h4>*@

<img src="images/caturday.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="ties">ties</a> </h4>

@*<h4> @Html.ActionLink("ties", "Category", new { category = "ties" }) </h4>*@

<img src="images/ties.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="dream">dream</a> </h4>

@*<h4> @Html.ActionLink("dream", "Category", new { category = "dream" }) </h4>*@

<img src="images/dream.jpg" alt="cat" width="358" height="285">

<br><br><br>



<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="sink">sink</a> </h4>

@*<h4>@Html.ActionLink("sink", "Category", new { category = "sink" }) </h4>*@

<img src="images/sink.jpg" alt="cat" width="358" height="285">

<br><br><br>


<h4> <a asp-controller="Home" asp-action="Category" asp-route-category="clothes">clothes</a> </h4>

@*<h4> @Html.ActionLink("clothes", "Category", new { category = "clothes" }) </h4>*@

<img src="images/clothes.jpg" alt="cat" width="358" height="285">

<br><br><br>




